<%= form_for :user, url: '/login', method: 'post' do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password_digest %>
    <%= f.password_field :password_digest %>
  </p>
  <p>
    <%= f.submit value="Log in" %>
  </p>
<% end %>
