<h1>LET'S <%= @decision.context %> ... <%= @current_proposal.proposed_idea %></h1>

  <%= @current_proposal.current_voter.user.name %>
  <!--  -->

<ul>
  <em><%= render partial: 'participant', collection: @on_deck %></em>

  <%= render partial: 'participant', collection: @already_voted %>
</ul>
