<div class="container <%= "decision" if @decision.is_active? %> ">



  <% if @decision.is_active? && @current_query %>
    <div id="active-decision-header">
      <h2>Making a decision about: <%= @decision.context %></h2>
      <h2>Currently voting on: <%= @current_proposal.proposed_idea %>!</h2>
    </div>
    <ul class="list-group list-unstyled">
      <li class="list-group-item current-voter">
        <% if @current_query.participation.user.name == current_user.name %>
          <h3 id="current-voter">You must vote by <%= @current_query.respond_by.strftime('%l:%M%P')%></h3>
        <% else %>
          <h3 id="current-voter"><%= @current_query.participation.user.name %> must vote by <%= @current_query.respond_by.strftime('%l:%M%P')%>!</h3>
        <% end %>
      </li>
    <!-- </ul> -->

    <% if @current_query.participation.user == current_user %>
      <!-- <ul class="list-group list-unstyled"> -->
        <li class="list-group-item list-group-item-success"><%= button_to "That Sounds Good!", response_path(status: 'yes'), method: :put, :class => "btn btn-success btn-lg btn-block" %></li>
        <!-- , {:controller => 'query', :action => "yes" }, { :class => button_yes } -->

        <li class="list-group-item list-group-item-danger"><%= button_to "Something Else...", response_path(status: 'no'), method: :put, :class => "btn btn-danger btn-lg btn-block" %></li>
       <!-- </ul> -->
    <% end %>

    <% if @on_deck.length > 0 %>
      <ul class="list-group list-unstyled">
        <li class="list-group-item list-group-item-default"><h4>On deck:</h4></li>
        <li class="list-group-item list-group-item-info"><%= render partial: 'participant', collection: @on_deck %></li>
      <!-- </ul> -->
    <% end %>

    <% if @already_voted.length > 0 %>
      <!-- <ul class="list-group list-unstyled"> -->
        <li class="list-group-item list-group-item-default"><h4>Already voted:</h4></li>
        <li class="list-group-item list-group-item-success"><%= render partial: 'participant', collection: @already_voted %></li>
      </ul>
    <% end %>
  <% else %>
    <div id="congratulations-msg">
      <h2>Congratulations!</h2>
      <% if @current_proposal %>
        <h2>You decided on <%= @current_proposal.proposed_idea %>!</h2>
      <% else %>
        <h2>You decided on <%= @last_proposal.proposed_idea %>!</h2>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Back to your decisions", profile_path, :class=> "btn btn-lg btn-info btn-block" %>
</div>
