<div>

  <h3>Let's <%= @decision.context %> ... <%= @current_proposal.proposed_idea %>!</h3>

  <% if @decision.is_active? && @current_query %>

   <!--   <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div> -->
    <ul class="list-group list-unstyled">
      <li class="list-group-item list-group-item-default"><h3>Current voter: <%= @current_query.participation.user.name %></h3></li>
    <!-- </ul> -->

    <% if @current_query.participation.user == current_user %>
      <!-- <ul class="list-group list-unstyled"> -->
        <li class="list-group-item list-group-item-success"><%= link_to "That Sounds Good!", response_path(status: 'yes'), method: :put, :class => "btn btn-success btn-lg btn-block" %></li>
        <!-- , {:controller => 'query', :action => "yes" }, { :class => button_yes } -->
        <li class="list-group-item list-group-item-danger"><%= link_to "Something Else...", response_path(status: 'no'), method: :put, :class => "btn btn-danger btn-lg btn-block" %></li>
       <!-- </ul> -->
    <% end %>

    <% if @on_deck.length > 0 %>
      <ul class="list-group list-unstyled">
        <li class="list-group-item list-group-item-default"><h4>On deck:</h4></li>
        <li class="list-group-item list-group-item-info"><%= render partial: 'participant', collection: @on_deck %></li>
      <!-- </ul> -->
    <% end %>

    <% if @already_voted.length > 0 %>
      <!-- <ul class="list-group list-unstyled"> -->
        <li class="list-group-item list-group-item-default"><h4>Already voted:</h4></li>
        <li class="list-group-item list-group-item-success"><%= render partial: 'participant', collection: @already_voted %></li>
      </ul>
    <% end %>
  <% else %>
    <p>Congratulations! You decided on <%= @current_proposal.proposed_idea %>!</p>
  <% end %>
</div>
