<%= form_for :proposal, url: "/decisions/#{@decision.id}/proposals", method: 'post' do |f| %>

  <h2>Let's "<%= @decision.context %>."</h2>

   <h4>What/where do you propose?</h4>
    <p><%= f.text_field :proposed_idea, :placeholder => "e.g. 'Domino's", :class => "form-control"  %></p>

  <p>
    <%= f.submit value="Create New Proposal", :class=> "btn btn-lg btn-info btn-block" %>
  </p>

<% end %>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>
