<%= form_for :proposal, url: "/decisions/#{@decision.id}/proposals", method: 'post' do |f| %>
  Let's <%= @decision.context %>
  <p> What's your idea?
    <%= f.text_field :proposed_idea %>
  </p>

  <p>
    <%= f.submit value="Create New Proposal" %>
  </p>

<% end %>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>